#app-function {
    background-color: $gray-300;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .content {
            position: relative;

            .img-left,
            .img-right,
            .img-middle {
                margin: 0 50px;
            }

            .img-left,
            .img-right {
                flex: 0 0 10%;

            }

            h3 {
                margin-left: 380px;
                margin-top: 50px;
            }

            .p-text {
                padding-left: 150px;

            }

            .left-button {
                margin-left: -20px;
                position: absolute;
                top: 35%;
                left: 0;
                padding: 10px 20px;
                background-color: transparent;
                color: $gray-800;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            .left-button button i {
                font-size: 30px;
            }

            .left-button button:hover {
                background-color: transparent; 
                color: #2600ff; 
            }

            .right-button {
                margin-right: -20px;
                position: absolute;
                top: 35%;
                right: 0;
                padding: 10px 20px;
                background-color: transparent;
                color: $gray-800;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            .right-button button i {
                font-size: 30px; 
            }

            .right-button button:hover {
                background-color: transparent; 
                color: #2600ff; 
            }




        }
    }
}