.maps {
    display: grid;

    .content {
        .map {
            margin-left: 200px;
        }

        .medical-one {
            margin-left: 1000px;
            margin-top: -590px;
        }

        .medical-two {
            margin-left: 1000px;
            padding-top: 30px;
            margin-top: 20px;
        }

        .medical-one img {
            margin-right: 10px;
        }

        .medical-two img {
            margin-right: 10px;
        }

        .sat-sun {
            margin-left: 30px;
        }

        .socials {
            text-align: end;
            margin-right: 270px;
            margin-top: 105px;
        }

        .socials img {
            margin-right: 15px;
            
        }
    }


}